.App {
  text-align: center;
}

.border {
  padding: 5px;
}

.navbar-nav {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #61dafb;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: purple;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
}

label {
  margin: 8px
}

input {
  margin: 3px
}

.card-footer {
  margin-top: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
